@import "tailwindcss";

@theme {
  --color-primary: #4200ff;
  --color-secondary: #01a400;
  --color-text-primary: #404040;
  --color-text-secondary: #a7a7a7;
  --color-text-light-gray: #b4b4b4;
  --color-grayey: #787887;

  --font-poppins: Poppins, sans-serif;
}
